@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "brandon","Inter", system-ui, sans-serif;
      /* Establecemos el  color de texto global */
  body {
    color: theme('colors.mainText'); /* Usamos el color definido en tailwind.config.js */
  }
  }
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
